export ROS_AUTOMATIC_DISCOVERY_RANGE=LOCALHOST
export ROS_DOMAIN_ID=11


unset CMAKE_INCLUDE_PATH
unset CMAKE_LIBRARY_PATH
unset NIX_CFLAGS_COMPILE
unset NIX_LDFLAGS
unset NIXPKGS_CMAKE_PREFIX_PATH
unset XDG_DATA_DIRS
use flake .
unset CMAKE_INCLUDE_PATH
unset CMAKE_LIBRARY_PATH
unset NIX_CFLAGS_COMPILE
unset NIX_LDFLAGS
unset NIXPKGS_CMAKE_PREFIX_PATH
unset XDG_DATA_DIRS
